body{
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 4fr 0.5fr;
    grid-gap: 1em;
}
.container  h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column:1/4;
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}
.buttons{
    display: grid;
    justify-content: center;
    grid-gap: 2em;
    margin: 20px;
}
button{
    color: #181818;
    padding: 15px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    border-style: none;
    background-color: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.screen{
    margin-right: 200px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
    border-radius: 9px;
    grid-column: 2/4;
    grid-row: 2/4;
}

